language: android
jdk: oraclejdk7

android:
  components:
    - build-tools-21.1.2
    - android-23
    - extra-google-m2repository
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-21

before_script:
  - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator

after_failure:
  - adb logcat -d

